<!--==-->
<!--function onStart()-->
<!--{-->
<!--    $this['path_app_css'] = mix('assets/dist/css/app.css', 'themes/lingualand');-->
<!--    $this['path_app_js'] = mix('assets/dist/js/app.js', 'themes/lingualand');-->
<!--}-->
<!--==-->
<!--<script src="{{ 'assets/vendor/jquery.min.js'|theme }}"></script>-->
<!--<script async src="{{ 'assets/vendor/jquery.mask.js'|theme }}"></script>-->
<!--<script src="{{ path_app_js }}"></script>-->
<!--{% if path_page_css %}-->
<!--<link href="{{ path_page_css }}" rel="stylesheet">{% endif %}-->
<!--{% if path_page_js %}-->
<!--<script src="{{ path_page_js }}"></script>{% endif %}-->

<!--{% scripts %}-->
<!--{% framework extras %}-->
