<section class="advantages" {% if sId is not empty %}id="{{ sId }}"{% endif %}>
    <div class="container wrapper">
        {% if sTitle is not empty %}
        <h2 class="title-large">{{ sTitle }}</h2>
        {% endif %}
        {% if sDescription is not empty %}
        <div class="description">
            {{ sDescription|raw }}
        </div>
        {% endif %}
        <div class="wrapper-box">
            {% partial 'extends/featured-list/featured-list' %}
        </div>
    </div>
</section>
