<div class="blog-post">
  <div class="blog-post__inner container">
      {% partial
          'extends/short-nav/short-nav'
          text='Back'
          href='/back'
          nav='left'
      %}
      <article class="blog-post__wrap">
          <h1 class="blog-post__title title">Online Marketplace Overview: Leading Marketplaces, Marketplace Design and Development</h1>
          <p class="blog-post__time">August 30, 2023 · 6 min read</p>
          {% partial
              'extends/static-text/static-text'
              classParent='blog-post__content'
              content='<p>Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
            <p>Faucibus commodo massa rhoncus, volutpat. <strong>Dignissim</strong> sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim.
                <a href="/">Mattis mauris semper</a> sed amet vitae sed turpis id.</p>

            <ul>
                <li>Quis elit egestas venenatis mattis dignissim.</li>
                <li>Quis elit egestas venenatis mattis dignissim.</li>
                <li>
                    Quis elit egestas venenatis mattis dignissim.
                    <ul>
                        <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
                        <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
                        <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
                    </ul>
                </li>
            </ul>
        ' %}
      </article>
  </div>


</div>
