<div class="pt-[68px] md:pt-[148px] pb-32">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="leading-tight leading-[1.1] text-[30px] md:text-7xl font-bold "><span class="text-gray-400">Сustom</span> Software Product Development Services <span class="text-gray-400">tailored to your unique business needs.</span></h1>
      </div>
      <div class="bg-blue-600 mt-[60px] md:mt-[68px]">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex py-4 space-x-4 items-start md:items-center">
          <img class="w-10 shrink-0" src="/img/rocket.png" sizes="24"  alt="">
          <p class="md:text-3xl text-white font-medium	">We'll deliver MVP of your project in 12 weeks! Curious? <button class="text-yellow-300 border-1">Contact us!</button></p>
        </div>
      </div>

      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex items-center mt-32 space-x-4">
        <img class="h-6 shrink-0" src="/img/cluch.svg" sizes="24"  alt="">
        <ul class="flex divide-x divide-slate-200 border-l border-gray-200">
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;b2b&nbsp;companies belarus 2020</li>
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;1000&nbsp;companies global 2019</li>
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;b2b&nbsp;companies eastern europe 2019</li>
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;b2b&nbsp;companies global 2018</li>
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;b2b&nbsp;companies Belarus 2018</li>
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;Development&nbsp;&&nbsp;IT&nbsp;Services Firms 2018</li>
          <li class="uppercase text-gray-500 leading-snug text-xs px-3">Top&nbsp;web&nbsp;&&nbsp;software developers 2017</li>
        </ul>
      </div>
    </div>
</div>
