<section class="our-work" {% if sId is not empty %}id="{{ sId }}"{% endif %}>
    <div class="container inner">
        {% if sTitle is not empty %}
        <h2 class="title-large">{{ sTitle }}</h2>
        {% else %}
            <h2 class="sr-only">our-work</h2>
        {% endif %}
        <div class="description">
            {{ sText|raw }}
        </div>
        <div class="wrapper our-work__wrap">
            {% partial 'extends/image-with-text/image-with-text' %}
            {% partial 'extends/image-with-text/image-with-text' orientation="right" %}
        </div>
    </div>
</section>
