<div class="our-work">
    <div class="container wrapper">
        <h1 class="title-large">Our work speaks better for itself:</h1>
        <div class="description">
            <p>As the leading Laravel development agency, we have been assisting our clients all over the world for 15 years now, bringing our expertise to tend to the needs of companies of different scales from various areas of business.</p>
        </div>
        <div class="wrapper-box our-work__wrap">
            {% partial 'extends/image-with-text/image-with-text' %}
            {% partial 'extends/image-with-text/image-with-text' orientation="right" %}
        </div>
    </div>
</div>
