<div class="featured-list">
    <ul class="featured-list__wrap">
        <li class="featured-list__items">
           <div class="featured-list__icon">
               <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M14 18L21.5 25.5L38.5 6.5" stroke="#DC2626" stroke-linecap="round" stroke-linejoin="round"/>
                   <path d="M36.4548 24.1411C35.6358 27.1978 33.9287 29.9429 31.5495 32.0294C29.1703 34.1159 26.2259 35.4501 23.0884 35.8631C19.951 36.2762 16.7615 35.7496 13.9234 34.35C11.0852 32.9503 8.72585 30.7405 7.1436 28C5.56135 25.2595 4.8273 22.1113 5.03426 18.9536C5.24123 15.7958 6.37993 12.7704 8.30635 10.2598C10.2328 7.74925 12.8604 5.86631 15.857 4.84912C18.8535 3.83192 22.0844 3.72615 25.1411 4.54519" stroke="currentColor" stroke-linecap="round"/>
               </svg>
           </div>
           <div class="">
               <div class="featured-list__descr"><p><a href="">Laravel</a> framework gives scaling <strong>opportunities</strong> and makes a website or web application testing very simple. It saves time to market significantly, too. The framework includes testing tools so that developers can run unit and integration testing early and fix whatever needs to be fixed immediately. In the end - when your product is launched, you are confident that everything functions as intended.</p></div>
           </div>
       </li>
        <li class="featured-list__items">
            <div class="featured-list__icon">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 18L21.5 25.5L38.5 6.5" stroke="#DC2626" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M36.4548 24.1411C35.6358 27.1978 33.9287 29.9429 31.5495 32.0294C29.1703 34.1159 26.2259 35.4501 23.0884 35.8631C19.951 36.2762 16.7615 35.7496 13.9234 34.35C11.0852 32.9503 8.72585 30.7405 7.1436 28C5.56135 25.2595 4.8273 22.1113 5.03426 18.9536C5.24123 15.7958 6.37993 12.7704 8.30635 10.2598C10.2328 7.74925 12.8604 5.86631 15.857 4.84912C18.8535 3.83192 22.0844 3.72615 25.1411 4.54519" stroke="currentColor" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="">
                <div class="featured-list__descr"><p><a href="">Laravel</a> framework gives scaling opportunities and makes a website or web application testing very simple. It saves time to market significantly, too. The framework includes testing tools so that developers can run unit and integration testing early and fix whatever needs to be fixed immediately. In the end - when your product is launched, you are confident that everything functions as intended.</p></div>
            </div>
        </li>
        <li class="featured-list__items">
            <div class="featured-list__icon">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 18L21.5 25.5L38.5 6.5" stroke="#DC2626" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M36.4548 24.1411C35.6358 27.1978 33.9287 29.9429 31.5495 32.0294C29.1703 34.1159 26.2259 35.4501 23.0884 35.8631C19.951 36.2762 16.7615 35.7496 13.9234 34.35C11.0852 32.9503 8.72585 30.7405 7.1436 28C5.56135 25.2595 4.8273 22.1113 5.03426 18.9536C5.24123 15.7958 6.37993 12.7704 8.30635 10.2598C10.2328 7.74925 12.8604 5.86631 15.857 4.84912C18.8535 3.83192 22.0844 3.72615 25.1411 4.54519" stroke="currentColor" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="">
                <div class="featured-list__descr"><p><a href="">Laravel</a> framework gives scaling opportunities and makes a website or web application testing very simple. It saves time to market significantly, too. The framework includes testing tools so that developers can run unit and integration testing early and fix whatever needs to be fixed immediately. In the end - when your product is launched, you are confident that everything functions as intended.</p></div>
            </div>
        </li>
        <li class="featured-list__items">
            <div class="featured-list__icon">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 18L21.5 25.5L38.5 6.5" stroke="#DC2626" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M36.4548 24.1411C35.6358 27.1978 33.9287 29.9429 31.5495 32.0294C29.1703 34.1159 26.2259 35.4501 23.0884 35.8631C19.951 36.2762 16.7615 35.7496 13.9234 34.35C11.0852 32.9503 8.72585 30.7405 7.1436 28C5.56135 25.2595 4.8273 22.1113 5.03426 18.9536C5.24123 15.7958 6.37993 12.7704 8.30635 10.2598C10.2328 7.74925 12.8604 5.86631 15.857 4.84912C18.8535 3.83192 22.0844 3.72615 25.1411 4.54519" stroke="currentColor" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="">
                <div class="featured-list__descr"><p><a href="">Laravel</a> framework gives scaling opportunities and makes a website or web application testing very simple. It saves time to market significantly, too. The framework includes testing tools so that developers can run unit and integration testing early and fix whatever needs to be fixed immediately. In the end - when your product is launched, you are confident that everything functions as intended.</p></div>
            </div>
        </li>
        <li class="featured-list__items">
            <div class="featured-list__icon">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 18L21.5 25.5L38.5 6.5" stroke="#DC2626" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M36.4548 24.1411C35.6358 27.1978 33.9287 29.9429 31.5495 32.0294C29.1703 34.1159 26.2259 35.4501 23.0884 35.8631C19.951 36.2762 16.7615 35.7496 13.9234 34.35C11.0852 32.9503 8.72585 30.7405 7.1436 28C5.56135 25.2595 4.8273 22.1113 5.03426 18.9536C5.24123 15.7958 6.37993 12.7704 8.30635 10.2598C10.2328 7.74925 12.8604 5.86631 15.857 4.84912C18.8535 3.83192 22.0844 3.72615 25.1411 4.54519" stroke="currentColor" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="">
                <div class="featured-list__descr"><p><a href="">Laravel</a> framework gives scaling opportunities and makes a website or web application testing very simple. It saves time to market significantly, too. The framework includes testing tools so that developers can run unit and integration testing early and fix whatever needs to be fixed immediately. In the end - when your product is launched, you are confident that everything functions as intended.</p></div>
            </div>
        </li>
    </ul>

    <div class="featured-list__bottom description">
        <h2>Service-Level Agreement (SLA) Guarantees</h2>
        <p>Before beginning to work on the project, we sign a service-level agreement (SLA) that ensures there is no room for confusion regarding the services that need to be delivered at a specific date. This makes us aware of client’s exact expectations and to set in stone such aspects of the services provided as quality, availability and the responsibilities of both parties involved. At the same time the SLA agreement guarantees that the client receives the full range of features that were set forth during the stages of business analysis & project evaluation.</p>
    </div>
</div>
