<section class="cases">
    <div class="inner cases__inner container">
        <h2 class="title-large">Our latest cases</h2>
        <div class="cases__container">
            <p class="cases__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus eget, scelerisque quis velit. Fusce in tincidunt neque.</p>
            <div class="js-slider-cases cases__wrap">
                <ul class="swiper-wrapper cases__slider">
                    <li class="swiper-slide cases__item cases__item--first"></li>
                    <li class="swiper-slide cases__item">
                        {% partial 'extends/portfolio-item/portfolio-item' %}
                    </li>
                    <li class="swiper-slide cases__item">
                        {% partial 'extends/portfolio-item/portfolio-item' %}
                    </li>
                    <li class="swiper-slide cases__item">
                        {% partial 'extends/portfolio-item/portfolio-item' %}
                    </li>
                    <li class="swiper-slide cases__item">
                        {% partial 'extends/portfolio-item/portfolio-item' %}
                    </li>
                    <li class="swiper-slide cases__item">
                        {% partial 'extends/portfolio-item/portfolio-item' %}
                    </li>
                    <li class="swiper-slide cases__item">
                        {% partial 'extends/portfolio-item/portfolio-item' %}
                    </li>
                    <li class="swiper-slide cases__item--last">
                        {% partial 'extends/portfolio-more/portfolio-more' classParent="cases__more" %}
                    </li>
                </ul>
                <div class="cases__bullet js-slider-cases-bullets slider-bullet"></div>
        </div>
    </div>
</section>

