{% set colorData = {
    "red": "main-service--red",
    "blue": "main-service--blue",
    "orange": "main-service--orange",
} %}
<section class="main-service {% if sColor is not empty %} {{ colorData[sColor]}}{% else %}main-service--red{% endif %}">
    <div class="main-service__inner">
        <div class="main-service__wrap container">
            <h1 class="main-service__title">{{ sTitle|raw }}</h1>
            {% if sSubTitle is not empty %}
                <p class="main-service__subtitle">{{ sSubTitle }}</p>
            {% endif %}
            {% if sDescription is not empty %}
                <p class="main-service__descr">{{ sDescription }}</p>
            {% endif %}

            {% if sButtonText is not empty %}
                <div class="main-service__button">
                    {% partial 'elements/button/button'
                        text=sButtonText
                        url=sButtonUrl
                        buttonType='outline'
                        wrapperClasses='w-full md:w-auto inline-block'
                    %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
