<div class="blog-list">
    <div class="blog-list__inner inner container">
        <h1 class="blog-list__title title">Corporate Blog</h1>
        <div class="blog-list__wrap wrapper-box">
            {% partial 'extends/blog-item/blog-item' %}
            {% partial 'extends/blog-item/blog-item' %}
            {% partial 'extends/blog-item/blog-item' %}

        </div>
        {% partial 'extends/shop-more/shop-more'
            text='Continue scrolling to see more posts...'
        %}
    </div>
</div>
