{% if buttonType == 'outline' %}
    {% set defaultClass = 'button-outline button-state' %}
{% else %}
    {% set defaultClass = 'button-black button-state' %}
{% endif %}

{% if sSize == 'lg' %}
    {% set sSizeClass = 'text-lg' %}
{% else %}
    {% set sSizeClass = '' %}
{% endif %}

{% if url %}
    <a href="{{ url }}"
            {% if isBlank == true %}
                target="_blank" rel="noopener noreferrer"
            {% endif %}
            class="{{ defaultClass }} {{ wrapperClasses }} {% if sSize is not empty %} size {{ sSizeClass }}{% endif %}"
        {{ body|raw }}
        <span>{{ text }}</span>
    </a>
{% else %}
    <button class="{{ defaultClass }} {{ wrapperClasses }} {% if sSize is not empty %} size {{ sSizeClass }}{% endif %}"
            type="{{ type|default('button') }}"
            {{ dataAtribute }}
            {% if onClick %}
                onclick="{{ onClick }}"
            {% endif %}
            {% if disabled %}
                disabled
            {% endif %}
    >
        <span>{{ text }}</span>
        {{ body|raw }}
    </button>
{% endif %}
