/*There are many classes in the selector because there are problems with the specificity of tailwindcss*/
button.button-black,
[type='button'].button-black,
[type='reset'].button-black,
[type='submit'].button-black,
.button-black {
  @apply bg-black-white hover:bg-neutral-700-gray-100 hover:border-neutral-700-gray-100 text-white-black py-3 px-6 text-lg md:text-base
}

button.button-outline,
[type='button'].button-outline,
[type='reset'].button-outline,
[type='submit'].button-outline,
.button-outline {
  @apply font-medium text-white border border-white py-2.5 px-6 hover:bg-white hover:border-white hover:text-black
}

button.button-black,
[type='button'].button-black,
[type='reset'].button-black,
[type='submit'].button-black,
.button-black,
button:not(.size),
[type='button'].button-outline,
[type='reset'].button-outline,
[type='submit'].button-outline,
.button-outline {
  @apply text-base md:text-lg
}



button.button-state,
[type='button'].button-state,
[type='reset'].button-state,
[type='submit'].button-state,
.button-state {
  @apply text-center
  focus:outline focus:outline-offset-1 focus:outline-blue-600-400 focus:outline-1 focus:border-blue-600-400 focus:text-white-black
  focus-visible:outline focus-visible:outline-offset-1 focus-visible:outline-blue-600-400 focus-visible:outline-1 focus-visible:text-white-black
  focus-within:outline focus-within:outline-offset-1 focus-within:outline-blue-600-400 focus-within:outline-1 focus-within:text-white-black
}

button.button-state:active:not([disabled]),
[type='button']:active:not([disabled]),
[type='reset'].button-state:active:not([disabled]),
[type='submit'].button-state:active:not([disabled]),
.button-state:active:not([disabled]){
  @apply bg-blue-600-400 text-white-black
}

button.button-state[disabled]:active,
[type='button'].button-state[disabled]:active,
[type='reset'].button-state[disabled]:active,
[type='submit'].button-state[disabled]:active,
.button-state[disabled]:active{
  @apply text-black-white border-0
}

button.link[disabled]:active,
[type='button'].link[disabled]:active,
[type='reset'].link[disabled]:active,
[type='submit'].link[disabled]:active,
.link {
  @apply outline-current
  focus:outline-dashed focus:outline-1 focus:outline-blue-600-400
  focus-visible:outline-dashed focus-visible:outline-1 focus-visible:outline-blue-600-400
  focus-within:outline-dashed focus-within:outline-1 focus-within:outline-blue-600-400
  active:!text-blue-600-400 active:!bg-transparent
}
.link-black {
  @apply inline-block text-black-white
}

