<div class="vacancy-short">
    <div class="vacancy-short__inner">
        <div class="vacancy-short__wrap">
            <div class="vacancy-short__header">
                <h3 class="vacancy-short__title">Product Designer</h3>
                <p class="vacancy-short__descr">We’re looking for a mid-level product designerto join our team.</p>
                <ul class="vacancy-short__icons">
                    <li class="vacancy-short__icon icons">
                        <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 8.5C11 10.1569 9.65685 11.5 8 11.5C6.34315 11.5 5 10.1569 5 8.5C5 6.84315 6.34315 5.5 8 5.5C9.65685 5.5 11 6.84315 11 8.5Z"
                                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.5 8.5C15.5 15.6421 8 19.75 8 19.75C8 19.75 0.5 15.6421 0.5 8.5C0.5 4.35786 3.85786 1 8 1C12.1421 1 15.5 4.35786 15.5 8.5Z"
                                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="icons__text">100% remote</span>
                    </li>

                    <li class="vacancy-short__icon icons">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 5V10H13.75M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="icons__text">Full-time</span>
                    </li>
                </ul>
            </div>
            <div class="vacancy-short__action">
                {% partial 'elements/button/button'
                    text = 'Apply'|_
                    wrapperClasses='w-full md:w-auto mt-8 md:mt-0' %}
            </div>
        </div>

    </div>
</div>
