<section {% if sId is not empty %}id="{{ sId }}"{% endif %} class="support {{classParent}}">
    <div class="support__wrap container">
        <div class="support__picture">
            <img class="support__images" src="{{ 'assets/img/servises/lara.png'|theme }}" alt="">
        </div>
        <div class="support__content">
            <h2 class="support__title">Support and Maintenance</h2>
            <div class="support__descr static-text"><p>Our team of Laravel experts will not only help you skyrocket your online business but will not quit on you when you need any assistance. We will provide support and reply to your inquiries after we complete our work to make sure you have all your questions answered.</p></div>
        </div>
    </div>
</section>
