<div class="header-anchor">
    <div class="header-anchor__wrap container">
        <div class="header-anchor__descr">Headline</div>
        <nav class="header-anchor__nav nav">
            <ul class="nav__list">
                <li class="nav__item">Services</li>
                <li class="nav__item">Areas of expertise</li>
                <li class="nav__item">Why Laravel</li>
                <li class="nav__item">Our latest cases</li>
                <li class="nav__item">Laravel experts</li>
                <li class="nav__item">Support & Maintenance</li>
                <li class="nav__item">FAQ</li>
            </ul>
        </nav>
        <div class="header-anchor__action">
            {% partial 'elements/button/button'
                text="Get in touch"
                url=sButtonUrl
                wrapperClasses='!py-2 !px-4 whitespace-nowrap'
            %}
        </div>
    </div>
</div>
