<section class="reviews">
    <div class="reviews__inner container">
        <h2 class="title">What clients says</h2>
        <div class="reviews__wrap">
            <div class="reviews__aside">
                <img class="reviews__img" src="{{ 'assets/img/reviews.svg'|theme }}" alt="">
            </div>
            <ul class="reviews__main">
               <li>{% partial 'extends/review/review' %}</li>
               <li>{% partial 'extends/review/review' %}</li>
               <li>{% partial 'extends/review/review' %}</li>
               <li>{% partial 'extends/review/review' %}</li>
            </ul>
        </div>
    </div>
</section>

