{% set tempOlolo = [
    {
        title:"Laravel Custom Website Development",
        descr: "<p>Our Laravel developers have extensive knowledge of Laravel web development as per the needs of clients from different business areas. We take into account everything that matters to you to help boost productivity and enhance the innovation of your business.</p>"
    },
    {
        title: "Laravel Web Application Development",
        descr: "<p>Laravel framework not only helps to reduce the time for app development but also enhances the performance of web applications. As a result, your customers will be more satisfied with user-friendly web applications and retention will increase.</p>"
    },
    {
        title:"Laravel E-Commerce Solutions",
        descr:"<p>With extraordinary Laravel development services, you have all the essential features to connect sellers with customers. The development solutions offered by this open-source framework help to build a flawless and convenient user experience that will increase your profit.</p>"
    },
    {
        title:"Laravel API Development",
        descr: "<p>We implement rapid API generator tools that build quick communication between websites and mobile apps.</p>"
    },

    {
        title: "Laravel Template Design And Developmen",
        descr: "<p>At LOVATA, we have the expertise to build and develop template designs that are business-oriented and customized according to your business needs.</p>"
    },

    {
        title: "Third-Party Integratio",
        descr: "<p>The PHP framework allows developers to integrate payment solutions, maps, customer support APIs, and other third-party services.</p>"
    },

    {
        title: "Migration",
        descr: "<p>Even if your website was not originally built on the PHP framework, we will transfer all data onto the new website. Laravel development services boast cutting-edge migration technologies that make this framework a popular pick when updating an existing website to enhance functionalities and services.</p>"
    },

    {
        title: "Complex Business Application Development",
        descr: "<p>For over a decade we have helped our clients with software like SaaS, PWA, and others. It does not matter if this is a small application or a complicated one, our Laravel developers will always cater the best solution to our customers in no time.</p>"
    },

    {
        title: "Extension Development",
        descr: "<p>Our experienced team will help you explore the opportunities of Laravel extension development that will add efficient solutions to your business and will help you achieve better results and a higher retention rate.</p>"
    },

] %}

<section class="development-services" {% if sId is not empty %}id="{{ sId }}"{% endif %}>
    <div class="inner container">
        {% if sTitle is not empty %}
            <h2 class="title-large">{{ sTitle }}</h2>
        {% endif %}
        {% if sDescription is not empty %}
            <div class="description">
                {{ sDescription|raw }}
            </div>
        {% endif %}
        <div class="wrapper">
            {% partial 'extends/multi-column/multi-column'
                obDataList=tempOlolo
                tempItem=tempItem
            %}
        </div>
        {% if bottom %}
        <div class="space-y-16">
            <div class="description">
                <p>Our Laravel development team makes magic.</p>
            </div>
            {% partial 'extends/icon-list/icon-list' %}
            <div class="description">
                <p>If you have a project on your mind and want to explore the possibilities of the Laravel framework, give us a call. If you want to learn more about Laravel development services, get in touch with us, too.</p>
                <p>Seriously, if you are not yet sure whether Laravel works best for you, reach out, and we may be able to change your mind.</p>
            </div>
        </div>
        {% endif %}
    </div>
</section>
