<section class="py-24 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="font-bold text-6xl">Areas of expertise</h2>
    <p class="text-gray-600 pt-7 max-w-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus eget, scelerisque quis velit. Fusce in tincidunt.</p>
    <div class="mt-16">
        <ul class="grid grid-cols-2 gap-x-8 gap-y-12">
            <li class="flex space-x-4">
                <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div class="">
                    <a class="text-3xl border-b-2 border-black" href="/">Healthcare</a>
                    <p class="mt-4 font-light leading-snug">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
            <li class="flex space-x-4">
                <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div class="">
                    <a class="text-3xl border-b-2 border-black" href="/">Healthcare</a>
                    <p class="mt-4 font-light leading-snug">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
            <li class="flex space-x-4">
                <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div class="">
                    <a class="text-3xl border-b-2 border-black" href="/">Healthcare</a>
                    <p class="mt-4 font-light leading-snug">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
            <li class="flex space-x-4">
                <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div class="">
                    <a class="text-3xl border-b-2 border-black" href="/">Healthcare</a>
                    <p class="mt-4 font-light leading-snug">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
        </ul>
    </div>
</section>
