<section class="expertise">
    <div class="expertise__inner">
        <h2 class="title">Areas of expertise</h2>
        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus eget, scelerisque quis velit. Fusce in tincidunt.</p>
        <ul class="expertise__wrap">
            <li class="expertise__item">
                <svg class="expertise__icon" width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div>
                    <a class="expertise__title" href="/">Healthcare</a>
                    <p class="expertise__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
            <li class="expertise__item">
                <svg class="expertise__icon" width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div>
                    <a class="expertise__title" href="/">Healthcare</a>
                    <p class="expertise__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
            <li class="expertise__item">
                <svg class="expertise__icon" width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div>
                    <a class="expertise__title" href="/">Healthcare</a>
                    <p class="expertise__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
            <li class="expertise__item">
                <svg class="expertise__icon" width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round" stroke-linejoin="round"><path d="M1.657 9.314C3.114 2.286 11.771-3 20 6.343 31.743-7.114 44.286 9.57 35.772 18.17L20 32.714l-9.229-8.571" stroke="black"/><path d="M1.429 17h7.143l4.285-5.715 5.715 10 4.285-5.714h4.286" stroke="#DC2626"/></g></svg>
                <div>
                    <a class="expertise__title" href="/">Healthcare</a>
                    <p class="expertise__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo lacus, pulvinar id finibus </p>
                </div>
            </li>
        </ul>
    </div>
</section>
