<div class="image-with-text {{classParent}}">
    <div class="image-with-text__wrap">
        <div class="image-with-text__picture {% if orientation == 'right' %} md:order-1{% endif %}">
            <img class="image-with-text__images" src="{{ 'assets/img/servises/web.svg'|theme }}" alt="">
        </div>
        <div class="image-with__content">
            <h4 class="image-with-text__title">Website Custom Laravel Development</h4>
            <div class="image-with-text__descr static-text"><p>We helped to build a single-page website for one of the most popular car insurance policy aggregators in Kazakhstan. As a result, we have created a full-fledged solution with all the necessary features that would bring together every player, from the car insurance companies to the mechanisms enabling customers to order the most appropriate insurance policy for the vehicle. A fast, flawless website and thoughtful, convenient UX led to a significant performance improvement after the website was launched.</p></div>
        </div>
    </div>
</div>
