{% set collumClasses = {
    "3": "icon-list__wrap--3",
} %}
<div class="icon-list">
    <ul class="icon-list__wrap {% if sColor is not empty %} {{ collumClasses[sCollum]}}{% else %}icon-list__wrap--3{% endif %}">
        <li class="icon-list__item">
            <div class="icon-list__icon">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 14L12 17L17 10M25 13C25 19.6274 19.6274 25 13 25C6.37258 25 1 19.6274 1 13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13Z" stroke="#10B981" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="icon-list__container">
                <p>Our developers are tech savy and follow the latest development trends</p>
            </div>
        </li>
        <li class="icon-list__item">
            <div class="icon-list__icon">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 14L12 17L17 10M25 13C25 19.6274 19.6274 25 13 25C6.37258 25 1 19.6274 1 13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13Z" stroke="#10B981" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="icon-list__container">
                <p>Our developers are tech savy and follow the latest development trends</p>
            </div>
        </li>
        <li class="icon-list__item">
            <div class="icon-list__icon">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 14L12 17L17 10M25 13C25 19.6274 19.6274 25 13 25C6.37258 25 1 19.6274 1 13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13Z" stroke="#10B981" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="icon-list__container">
                <p>Our developers are tech savy and follow the latest development trends</p>
            </div>
        </li>

    </ul>
</div>
